<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leama Systems</title>
    <!-- Layout Files -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom Theme css -->
    @Styles.Render("~/theme/css/bootstrap.css")
    @Styles.Render("~/theme/css/style.css")
    <!--icons-css-->

    <script src="~/theme/js/jquery-2.1.1.min.js"></script>

    @Styles.Render("~/theme/css/font-awesome.css")
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                @Html.Partial("_TopNavBar")
                <!-- script-for sticky-nav -->
                <script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
                </script>
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">
                    @RenderBody()
                    @*<div class="blank">
                        <h2>Blank Page</h2>
                        <div class="blankpage-main">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                    </div>*@
                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                @Html.Partial("_Footer")                
                <!--COPY rights end here-->
            </div>
        </div>
        <!--slider menu-->
        @Html.Partial("_SideNavBar")
    </div>
    <!--slide bar menu end here-->
    <script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
    </script>
    <!--scrolling js-->
    <script src="~/theme/js/jquery.nicescroll.js"></script>
    <script src="~/theme/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="~/theme/js/bootstrap.js"> </script>
    <!-- mother grid end here-->
</body>
</html>